<nav class="navbar navbar-expand-md navbar-dark fixed-top color">
  <a class="navbar-brand" href="">
    <img
      src="../../assets/deploy-removebg-preview.png"
      width="35"
      height="35"
      class="d-inline-block align-top"
      alt=""
    />
    App Deployer
  </a>

  <div class="ml-20">
    <button type="button" class="btn" (click)="goToBucketsDashboard()">
      Buckets Dashboard
    </button>
    <button type="button" class="btn" (click)="goToAppsDeployment()">
      Apps Deployment
    </button>
    <button type="button" class="btn-log" (click)="logout()">
      Logout <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</nav>
