<div class="relative min-h-screen">

    <app-navbar></app-navbar>
    <!-- User List -->
    <div class="mx-auto max-w-1xl text-center mt-40">
      <h2 class="text-balance text-3xl font-semibold tracking-tight text-white sm:text-5xl mb-10">Your Applications</h2>
    </div>


    <div class="w-full flex justify-center mt-20">
      <table class="table align-middle mb-0 bg-white w-3/4">
        <thead class="bg-light">
          <tr>
            <th>Domain Name</th>
            <th>App Status</th>
            <th>Bucket</th>
            <th>Enabled</th>
            <th>Actions</th>
            <th>Enable/Disable</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let distribution of cloudFrontDistributions">
            <td>
              <div>
                {{ distribution.domainName }}
              </div>
            </td>
            <td>
              <div>
                {{ distribution.status }}
              </div>
            </td>
            <td>
              <div>
                {{ distribution.bucket }}
              </div>
            </td>
            <td>
              <div>
                {{distribution.enabled}}
              </div>
            </td>
            <td>
              <button (click)="deleteDistribution(distribution.identifier)" class="bg-red-500 text-white font-semibold py-2 px-4 rounded hover:bg-red-600 transition duration-200">Delete</button>
            </td>
            <td>
                <button
                type="button"
                class="text-white font-semibold py-2 px-4 rounded transition duration-200" 
                [ngClass]="distribution.enabled ? 'bg-red-500 hover:bg-red-700' : 'bg-green-500 hover:bg-green-700'"
                (click)="toggleDistribution(distribution.identifier, !distribution.enabled)"
                data-mdb-ripple-color="dark"
                >
                  {{ distribution.enabled ? 'Disable' : 'Enable' }}
                </button>

            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<app-boot-message 
[message]="message" 
[showToast]="showToast">
</app-boot-message>
