.divider {
    margin: 30px auto;
    margin-top: 5%;
    width: 80%;  /* Adjust width as needed */
    height: 2px;
    background-color: #424345; /* Light gray */
}

.dragging {
    background-color: #ebf4ff;
  }