<div class="flex flex-col items-center justify-center space-y-4 mt-24 bg-c">
  <!-- Title Section -->
  <h2 class="text-lg font-semibold text-gray-700 text-title mb-7">
      Deploy your Angular application. Enjoy fast, reliable, and scalable cloud infrastructure for your apps.
  </h2>

  <!-- Images Section -->
  <div class="flex items-center justify-center space-x-8 bg-white p-12 rounded-2xl w-2/3">
      <img src="../../assets/deploy-removebg-preview.png" alt="Rocket Icon" class="w-25 h-26" />
      <img src="../../assets/awsImage-removebg-preview.png" alt="AWS Icon" class="w-25 h-26" />
      <p>Our application provides a seamless way for users to manage their cloud storage by creating and managing buckets. Users can upload files in ZIP format to their personalized buckets and organize their data with ease. Each bucket can be individually deleted, offering full control over the user’s cloud storage environment. The app offers a clean and intuitive interface with features like drag-and-drop file uploads and real-time actions, allowing users to quickly manage their cloud resources.</p>
  </div>

  <!-- Buttons Section -->
  <div class="flex flex-wrap justify-center items-center">
    <div class="p-4">
      <div class="flex-grow pl-6">
        <button routerLink="/signup" class="btn">Sign Up</button>
      </div>
    </div>
    <div class="p-4">
      <div class="flex-grow pl-6">
        <button  routerLink="/login" class="btn">Login</button>
      </div>
    </div>
  </div>
</div>

