<div>
    <div class="container">
      <div class="flex items-center justify-center space-x-4 mb-8 mt-24">
      <h1 class="text-title">Deploy your Angular application
        <div class="flex justify-center mt-4 mb-8">
          <img src="../../assets/deploy-removebg-preview.png" alt="Rocket Image" class="w-30 h-30"> <!-- Adjust width and height as needed -->
        </div>
      </h1>
      <h1 class="text-title2">Use AWS to deploy your Angular applications seamlessly.
        Enjoy fast, reliable, and scalable cloud infrastructure for your apps.
        <div class="flex justify-center mt-4 mb-8">
          <img src="../../assets/awsImage-removebg-preview.png" alt="Rocket Image" class="w-30 h-30"> <!-- Adjust width and height as needed -->
        </div>
      </h1>
      </div>
    </div>
    <div class="flex flex-wrap justify-center items-center">
      <div class="p-4">
        <div class="flex-grow pl-6">
          <button routerLink="/signup" class="btn">Sign Up</button>
        </div>
      </div>
      <div class="p-4">
        <div class="flex-grow pl-6">
          <button  routerLink="/login" class="btn">Login</button>
        </div>
      </div>
    </div>
  </div>
