h1{
    color: white;
}

.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Makes the container take up the full viewport height */
    text-align: center; /* Centers text inside the container */
}

.text-title{
    font-size: 60px;
}

.btn {
    background-color: black;
    color: white;
    font-size: 1.1rem;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 0.25rem;
    width: 240px;
    height: 60px;

  }

  .btn:hover {
    background-color: darkgray; /* Change to desired hover color */
}


